<!--<app-studentitem *ngFor="let student of students">

</app-studentitem>-->

<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewStudent()">New Student</button>
  </div>
</div>
<hr>

<div class="container">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <label for="gradename"><b>Filter| grade name</b></label>
    <input type="text" formControlName="gradename"><!--[(ngModel)]="listFilter"-->
    <button type="submit">Filter</button>
  </form>

</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">student name</th>
      <th scope="col">height</th>
      <th scope="col">weight</th>
      <th scope="col">Date of birth</th>
      <th scope="col">Grade name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of filteredStudents | paginate : config; let i=index ">
      <td>{{student.studentName}}</td>
      <td>{{student.height}}</td>
      <td>{{student.weight}}</td>
      <td> {{ student.dateOfBirth | date :'short'}} </td>
      <td>{{student.gradeName}}</td>
    </tr>

  </tbody>
</table>

<!--<pagination-controls (pageChange)="page = $event"></pagination-controls>-->
<pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>


<!-- <div *ngFor="let student of students">
  <label> hana</label>  {{student.studentName}}
</div>-->
